/* stylelint-disable declaration-block-single-line-max-declarations */
.bd-callout {
  --bd-callout-bg: rgba(var(--bs-secondary-color-rgb), .3);
  --bd-callout-border: rgba(var(--bs-secondary-color-rgb), .4);
}

.bd-callout-info {
  --bd-callout-bg: rgba(var(--bs-info-rgb), .3);
  --bd-callout-border: rgba(var(--bs-info-rgb), .4);
}

.bd-callout-warning {
  --bd-callout-bg: rgba(var(--bs-warning-rgb), .3);
  --bd-callout-border: rgba(var(--bs-warning-rgb), .4);
}

.bd-callout-danger {
  --bd-callout-bg: rgba(var(--bs-danger-rgb), .3);
  --bd-callout-border: rgba(var(--bs-danger-rgb), .4);
}

.custom-tooltip {
  --bs-tooltip-color: color-contrast($primary);
}

.anchor-link {
  color: var(--bs-link-color);
  filter: opacity(50%);
}

.anchor-link:focus, .anchor-link:hover, :hover > .anchor-link, :target > .anchor-link {
  color: var(--bs-link-color);
}

.btn-bd-light {
  --bs-btn-color: var(--bs-secondary-color);
}

.highlight .hl {
  background-color: var(--base02);
}

.highlight .c {
  color: var(--base03);
}

.highlight .err {
  color: var(--base08);
}

.highlight .k {
  color: var(--base0E);
}

.highlight .l {
  color: var(--base09);
}

.highlight .n {
  color: var(--base08);
}

.highlight .o {
  color: var(--base05);
}

.highlight .p {
  color: var(--base05);
}

.highlight .cm {
  color: var(--base03);
}

.highlight .cp {
  color: var(--base08);
}

.highlight .c1 {
  color: var(--base03);
}

.highlight .cs {
  color: var(--base04);
}

.highlight .gd {
  color: var(--base08);
}

.highlight .ge {
  font-style: italic;
}

.highlight .gh {
  font-weight: 600;
  color: #fff;
}

.highlight .gi {
  color: var(--base0B);
}

.highlight .gp {
  font-weight: 600;
  color: var(--base04);
}

.highlight .gs {
  font-weight: 600;
}

.highlight .gu {
  font-weight: 600;
  color: var(--base0C);
}

.highlight .kc {
  color: var(--base0E);
}

.highlight .kd {
  color: var(--base0E);
}

.highlight .kn {
  color: var(--base0C);
}

.highlight .kp {
  color: var(--base0E);
}

.highlight .kr {
  color: var(--base0E);
}

.highlight .kt {
  color: var(--base0A);
}

.highlight .ld {
  color: var(--base0C);
}

.highlight .m {
  color: var(--base09);
}

.highlight .s {
  color: var(--base0C);
}

.highlight .na {
  color: var(--base0A);
}

.highlight .nb {
  color: var(--base05);
}

.highlight .nc {
  color: var(--base07);
}

.highlight .no {
  color: var(--base08);
}

.highlight .nd {
  color: var(--base07);
}

.highlight .ni {
  color: var(--base08);
}

.highlight .ne {
  color: var(--base08);
}

.highlight .nf {
  color: var(--base0B);
}

.highlight .nl {
  color: var(--base05);
}

.highlight .nn {
  color: var(--base0A);
}

.highlight .nx {
  color: var(--base0A);
}

.highlight .py {
  color: var(--base08);
}

.highlight .nt {
  color: var(--base08);
}

.highlight .nv {
  color: var(--base08);
}

.highlight .ow {
  color: var(--base0C);
}

.highlight .w {
  color: var(--bs-white);
}

.highlight .mf {
  color: var(--base09);
}

.highlight .mh {
  color: var(--base09);
}

.highlight .mi {
  color: var(--base09);
}

.highlight .mo {
  color: var(--base09);
}

.highlight .sb {
  color: var(--base0C);
}

.highlight .sc {
  color: var(--bs-white);
}

.highlight .sd {
  color: var(--base04);
}

.highlight .s2 {
  color: var(--base0C);
}

.highlight .se {
  color: var(--base09);
}

.highlight .sh {
  color: var(--base0C);
}

.highlight .si {
  color: var(--base09);
}

.highlight .sx {
  color: var(--base0C);
}

.highlight .sr {
  color: var(--base0C);
}

.highlight .s1 {
  color: var(--base0C);
}

.highlight .ss {
  color: var(--base0C);
}

.highlight .bp {
  color: var(--base05);
}

.highlight .vc {
  color: var(--base08);
}

.highlight .vg {
  color: var(--base08);
}

.highlight .vi {
  color: var(--base08);
}

.highlight .il {
  color: var(--base09);
}

.highlight .m + .o {
  color: var(--base03);
}

.highlight .language-sh .c {
  color: var(--base03);
}

.highlight pre code {
  color: var(--bs-body-color);
}

.chroma .language-bash .line::before,
.chroma .language-sh .line::before {
  color: var(--base03);
}

.chroma .language-powershell::before {
  color: var(--base0C);
}

.bd-placeholder-img rect {
  fill: var(--bs-tertiary-color);
}

.bd-placeholder-img text {
  fill: var(--bs-tertiary-bg);
}

.bd-placeholder-img-lg {
  font-size: calc(1.475rem + 2.7vw);
}

@media (min-width: 1200px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: .875em;
  color: var(--bs-tertiary-color);
}

.bd-primary-100 {
  color: #000;
  background-color: #cfe2ff;
}

.bd-primary-200 {
  color: #000;
  background-color: #9ec5fe;
}

.bd-primary-300 {
  color: #000;
  background-color: #6ea8fe;
}

.bd-primary-400 {
  color: #000;
  background-color: #3d8bfd;
}

.bd-primary-500 {
  color: #fff;
  background-color: #0d6efd;
}

.bd-primary-600 {
  color: #fff;
  background-color: #0a58ca;
}

.bd-primary-700 {
  color: #fff;
  background-color: #084298;
}

.bd-primary-800 {
  color: #fff;
  background-color: #052c65;
}

.bd-primary-900 {
  color: #fff;
  background-color: #031633;
}

.bd-secondary-100 {
  color: #000;
  background-color: #e2e3e5;
}

.bd-secondary-200 {
  color: #000;
  background-color: #c4c8cb;
}

.bd-secondary-300 {
  color: #000;
  background-color: #a7acb1;
}

.bd-secondary-400 {
  color: #000;
  background-color: #899197;
}

.bd-secondary-500 {
  color: #fff;
  background-color: #6c757d;
}

.bd-secondary-600 {
  color: #fff;
  background-color: #565e64;
}

.bd-secondary-700 {
  color: #fff;
  background-color: #41464b;
}

.bd-secondary-800 {
  color: #fff;
  background-color: #2b2f32;
}

.bd-secondary-900 {
  color: #fff;
  background-color: #161719;
}

.bd-success-100 {
  color: #000;
  background-color: #d1e7dd;
}

.bd-success-200 {
  color: #000;
  background-color: #a3cfbb;
}

.bd-success-300 {
  color: #000;
  background-color: #75b798;
}

.bd-success-400 {
  color: #000;
  background-color: #479f76;
}

.bd-success-500 {
  color: #fff;
  background-color: #198754;
}

.bd-success-600 {
  color: #fff;
  background-color: #146c43;
}

.bd-success-700 {
  color: #fff;
  background-color: #0f5132;
}

.bd-success-800 {
  color: #fff;
  background-color: #0a3622;
}

.bd-success-900 {
  color: #fff;
  background-color: #051b11;
}

.bd-info-100 {
  color: #000;
  background-color: #cff4fc;
}

.bd-info-200 {
  color: #000;
  background-color: #9eeaf9;
}

.bd-info-300 {
  color: #000;
  background-color: #6edff6;
}

.bd-info-400 {
  color: #000;
  background-color: #3dd5f3;
}

.bd-info-500 {
  color: #000;
  background-color: #0dcaf0;
}

.bd-info-600 {
  color: #000;
  background-color: #0aa2c0;
}

.bd-info-700 {
  color: #fff;
  background-color: #087990;
}

.bd-info-800 {
  color: #fff;
  background-color: #055160;
}

.bd-info-900 {
  color: #fff;
  background-color: #032830;
}

.bd-warning-100 {
  color: #000;
  background-color: #fff3cd;
}

.bd-warning-200 {
  color: #000;
  background-color: #ffe69c;
}

.bd-warning-300 {
  color: #000;
  background-color: #ffda6a;
}

.bd-warning-400 {
  color: #000;
  background-color: #ffcd39;
}

.bd-warning-500 {
  color: #000;
  background-color: #ffc107;
}

.bd-warning-600 {
  color: #000;
  background-color: #cc9a06;
}

.bd-warning-700 {
  color: #000;
  background-color: #997404;
}

.bd-warning-800 {
  color: #fff;
  background-color: #664d03;
}

.bd-warning-900 {
  color: #fff;
  background-color: #332701;
}

.bd-danger-100 {
  color: #000;
  background-color: #f8d7da;
}

.bd-danger-200 {
  color: #000;
  background-color: #f1aeb5;
}

.bd-danger-300 {
  color: #000;
  background-color: #ea868f;
}

.bd-danger-400 {
  color: #000;
  background-color: #e35d6a;
}

.bd-danger-500 {
  color: #fff;
  background-color: #dc3545;
}

.bd-danger-600 {
  color: #fff;
  background-color: #b02a37;
}

.bd-danger-700 {
  color: #fff;
  background-color: #842029;
}

.bd-danger-800 {
  color: #fff;
  background-color: #58151c;
}

.bd-danger-900 {
  color: #fff;
  background-color: #2c0b0e;
}

.bd-light-100 {
  color: #000;
  background-color: #fefefe;
}

.bd-light-200 {
  color: #000;
  background-color: #fcfdfd;
}

.bd-light-300 {
  color: #000;
  background-color: #fbfbfc;
}

.bd-light-400 {
  color: #000;
  background-color: #f9fafb;
}

.bd-light-500 {
  color: #000;
  background-color: #f8f9fa;
}

.bd-light-600 {
  color: #000;
  background-color: #c6c7c8;
}

.bd-light-700 {
  color: #000;
  background-color: #959596;
}

.bd-light-800 {
  color: #fff;
  background-color: #636464;
}

.bd-light-900 {
  color: #fff;
  background-color: #323232;
}

.bd-dark-100 {
  color: #000;
  background-color: #d3d3d4;
}

.bd-dark-200 {
  color: #000;
  background-color: #a6a8a9;
}

.bd-dark-300 {
  color: #000;
  background-color: #7a7c7f;
}

.bd-dark-400 {
  color: #fff;
  background-color: #4d5154;
}

.bd-dark-500 {
  color: #fff;
  background-color: #212529;
}

.bd-dark-600 {
  color: #fff;
  background-color: #1a1e21;
}

.bd-dark-700 {
  color: #fff;
  background-color: #141619;
}

.bd-dark-800 {
  color: #fff;
  background-color: #0d0f10;
}

.bd-dark-900 {
  color: #fff;
  background-color: #070708;
}

[data-bs-theme="gen-light"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="gen-dark"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="snowberry"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="perfume"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="pink-illusion"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="chantilly"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="azalea"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="givry"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="orinoco"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="blue-romance"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="humming-bird"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="tropical-blue"] .highlight {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}

[data-bs-theme="thamar-black"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="black-rock"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="jaguar"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="jacaranda"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="sepia-black"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="kilamanjaro"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="pine-tree"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="deep-fir"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="english-holly"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

[data-bs-theme="black-pearl"] .highlight {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #8b8b8b;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #d19a66;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}
